/* minor CSS reset */
/* You should not need to change anything here */
html, body, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
	font-family: 'Bangers';
	
	}

h1, h2 {
    
}

h1 {
	text-align: center;
	font-size: 20px;
	margin: 20px;
}

h2 {
	font-size: 10px;
	text-align: center;
	margin: 10px;
	}

.row {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.col {
	background: gray;
	padding: 10px;
	border: 3px double black;
}

.image {
	height: 100px;
	}